body {
    background-color: beige;
    filter:drop-shadow(10px);
    display: flex;
    justify-content: center;
    margin-top: 25%;
    width: 400px;
    height: 100px;
    margin-left: 33%;

}